<div class="custom-view-assigned-settings">
  <p>
    <label><%= l(:label_custom_view_assigned_filtering_users) %></label>
    <%= check_box_tag('settings[filtering_users]', true, RedmineCustomViewAssigned.filtering_users) %>
  </p>
</div>